@model BisLeagues.Presentation.Models.ViewModels.TeamApplicationViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";
}
@section Heading{

    <!-- Page Heading & Breadcrumbs  -->
    <div class="page-heading-breadcrumbs hidden-xs">
        <div class="container">
            <h2>GİRİŞ YAP</h2>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li>GİRİŞ YAP</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
}

<!-- Contact -->
<div class="theme-padding-top white-bg">
    <div class="container">

        <!-- Main Heading -->
        <div class="main-heading-holder">
            <div class="main-heading">
                <h2>Kayıt Ol</h2>
                <p>Zaten kayıdın var mı ? Buradan <a style="color:red;" href="@Url.Action("Login", "Authentication")">giriş yap.</a></p>
            </div>
        </div>
        <!-- Main Heading -->

    </div>
</div>
<!-- Contact -->
<!-- Contact Form Holder -->
<div class="theme-padding-bottom">
    <div class="container">
        @if (TempData["Message"] != null)
        {
            <div class="row">
                <div class="hidden-sm col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <div class="success-cart">
                        <p style="color: red;"><i style="color: red;" class="fa fa-times-circle-o"></i>@TempData["Message"]</p>
                    </div>
                </div>
                <div class="hidden-sm col-md-2"></div>
            </div>
        }
        <div class="row">
            <!-- Form -->
            <div class="hidden-sm col-md-4"></div>
            <div class="col-md-6 wrapper">
                <form action="@Url.Action("SignUp", "Authentication")" method="post" class="contact-form col-sm-12 col-md-8" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstName" placeholder="İsim" required>
                                    <i class=" fa fa-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lastName" placeholder="Soyisim" required>
                                    <i class=" fa fa-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                                    <i class=" fa fa-envelope"></i>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="birthDate" placeholder="Doğum Tarihi" required>
                                    <i class=" fa fa-calendar"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Şifre" required>
                                    <i class=" fa fa-lock"></i>
                                </div>
                                <div class="form-group">
                                    <button class="btn full-width primary-btn">Gönder</button>
                                </div>
                            </form>
            </div>
            <div class="hidden-sm col-md-4"></div>
            <!-- Form -->
        </div>
    </div>
</div>
<!-- Contact Form Holder -->