<!doctype html>
<html class="no-js" lang="en">
<head>

    <partial name="_Partials/_Head" />

</head>
<body>

    <!-- Wrapper -->
    <div class="wrap push">

        <!-- Header -->
        <header class="header style-3">

            <div id="message"></div>

            <partial name="_Partials/_TopBar" />

            <partial name="_Partials/_Nav" />

        </header>
        <!-- Header -->

        @RenderSection("Slider", required: false)

        <!-- Main Content -->
        <main class="main-content">
            @RenderBody()

        </main>
        <!-- Main Content -->

        <partial name="_Partials/_Footer" />
        <partial name="_Partials/_Message" />
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
