<!doctype html>
<html class="no-js" lang="tr">
<head>
    <partial name="_Partials/_Head" />
</head>
<body>
    <div class="wrap push">
        <header class="header style-3">
            <div id="message"></div>
            <partial name="_Partials/_TopBar" />
            <partial name="_Partials/_Nav" />
        </header>
        <main class="main-content">
            @RenderBody()
        </main>
        <partial name="_Partials/_Footer" />
        <partial name="_Partials/_Message" />
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>